* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 382px;
}

.pt-40 {
  padding-top: 40px;
}

.w-3 {
  width: calc(100% / 3 - 20px);
}

.w-2 {
  width: calc(100% / 2 - 16px);
}